#root {
  height:100vh;
  overflow:hidden;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.navbar {
  box-sizing: border-box;
  height: 44px;
  background-color: #3d3d3d;
  color:lightgray;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-shrink: 0;
  border-bottom: 1px solid transparent;
  padding-left: 32px;
  padding-right: 42px;
}

.navbar i {
  cursor:pointer;
  padding:10px;
}

.navbar i:hover {
  background: hsla(0,0%,100%,.2);
  color:whitesmoke;
}

.container {  
  display: flex;
  height: calc(100vh - 44px);
}

.side {
  flex:0 0 200px;
  font-size:0.9em;
  background-color: whitesmoke;
  padding:20px 42px;
  height: calc(100vh - 44px);
}

p {
  display: flex;
  align-items: center;
  cursor: pointer;
}

p:hover {
  color:red;
}

.material-icons {
  color: gray;
  font-size: 1.6em;
  margin-right: 10px;
  padding-top: 3px;
}

.main {
  display: flex;
  flex:1 1 auto;
  flex-direction: column;
  background-color: white;
  padding:0px 10% 150px;
  overflow-y:auto;
}

.content {
  min-width:600px;
  width:800px;
  margin:0 auto;
}

.header {
  position:fixed;
  background:white;
  width:100%;
  padding:20px 0;
  font-size:1.2em;
  font-weight:bold;
}

.header span {
  font-size:0.7em;
  font-weight:normal;
  margin-left:10px;
}

.list {
  margin-top:50px;
}

.section {
  font-size:0.8em;
  font-weight:bold;
  padding-top:40px;
}

.line {
  height:15px;
  border-bottom:1px solid gainsboro;
}

.loading {
  height:500px;
  display:flex;
  align-items: center;
  justify-content: center;
  font:1.5em calibri;
  color:gray
}

.commands {
  color:gray;
  font-size:0.9em;
  padding-left:2px;
}

.commands:hover, .commands:hover .material-icons {
  color:black
}

.input-box {
  margin:0px;
  margin-top:15px;
  border: 1px solid lightgray;
  border-radius:6px;
  outline: none;
  font: 1em Calibri;
}

::placeholder {
  color:#888;
  font-weight: lighter;
  opacity: 1;
}
